@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --bg-color: #f4f4f4;
}

body {
    background: var(--bg-color);
}

.box {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 0 10px;
}

.form-box {
    width: 400px;
    margin: 0 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn {
    background-color: #e75a89;
    color: #fff;
    padding: 10px 100px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.submit {
    width: 100%;
}

/* Home */
.nav {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.logo a {
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #e75a89;
}

.right-links a {
    padding: 0 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main-box {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.bottom {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width:840px) {
    .main-box .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px;
    }

    .top .box {
        margin: 10px 10px;
    }

    .bottom {
        margin-top: 0;
        padding: 0;
    }

}